*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}
#bg{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, #6ac1c5, #bda5ff);
    display: flex;
    justify-content: center;
    align-items: center;
}
.calender{
    width: 40vw;
    background: cornsilk;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-sizing: border-box;
}
.months{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #0FE6C6;
    text-align: center;
    color: navy;
    padding: 35px 25px;
}
#month{
    font-size: 2.5em;
}
.weekdays{
    display: flex;
    font-size: 1.1em;
    background: #0CC0A5;
    color: whitesmoke;
    padding: 7px 0;
}
.weekdays div{
    width: 14.28%;
    text-align: center;
}
.dates{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
.dates div{
    width: 14.28%;
    margin-bottom: 10px;
    padding: 10px 0;
    text-align: center;
    transition: all 0.3s;
}
.dates div:hover{
    background: #DDD8B8;
    cursor: pointer;
}
.today{
    background: #0CC0A5;
    border-radius: 10px;
    font-weight: 700;
}
.p_date, .n_date{
    color: rgba(139, 138, 138, 0.808);
}
.prev, .next{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    transition: 0.3s;
}
.prev:hover, .next:hover{
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.ClockContainer{
    position: fixed;
    padding: 10px;
    top: 0%;
    right: 0%;
}
#clock{
    margin: 10px 10px;
    position: relative;
    height: 10vw;
    width: 10vw;
    min-width: 120px;
    min-height: 120px;
    background: url(./Roman.png) round;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
}
#hour, #minute, #second{
    transform-origin: bottom;
    position: absolute;
    background: black;
    border-radius: 10px;
}
#hour{
    width: 1.7%;
    height: 20%;
    top: 30.5%;
    left: 49.27%;
}
#minute{
    width: 1.2%;
    height: 30%;
    top: 20.5%;
    left: 49.5%;
    opacity: 0.8;
}
#second{
    width: 0.9%;
    height: 35%;
    top: 15.5%;
    left: 49.56%;
    opacity: 0.5;
}
#block{
    width: 40%;
    max-width: 400px;
    height: 60%;
    background: cornsilk;
    box-sizing: border-box;
    margin: 0 10px;
}
.tag{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 25%;
    background: chartreuse;
}
#contents{
    height: 75%;
    margin-top: 10px;
}
#item{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
}
#addlist{
    background: blue;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
}
.task{
    background-color: #ffffff;
    height: 10%;
    padding: 5px 10px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #d1d3d4;
    cursor: pointer;
}
.completed{
    text-decoration: line-through;
}
.delete{
    background-color: white;
    color: red;
    height: 100%;
    width: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
}
.time{
    padding: 5px;
    background: #0FE6C6;
    color: navy;
    position: fixed;
    font-family: 'Black Ops One', cursive;
    border-radius: 5px;
    font-size: larger;
}